/* CSS used here will be applied after bootstrap.css */


html{
    overflow: hidden;
}

.navbar{ 
    background-color: #C7C3BD;
    background-image: none;
    margin-bottom: 0;
}

.navbar-default {
    font-family: 'Poiret One', cursive;  
    text-decoration: none;
   
}
.navbar-default .navbar-brand  {
  color: #000;
  text-align: center;  
  
}



.navbar-default .navbar-nav li a {
  color: #000;
  font-weight: 800;
    

}
.navbar-brand{
  	font-size: 5rem;
    font-weight: 800;
    margin-left: 1rem;

     
}
.navbar-nav{
    float: right;
    font-size: 2rem;
}

    
.titleimg{
        margin-top: 2%;
    	display: block;
        margin-left: auto;
        margin-right: auto;
      }

 
.row ul li{
    display:inline;
  }


.titlebody {
    height: 100%;
	background: url('../img/louisville%20coal.jpg') no-repeat center top fixed;
    -webkit-background-size:  cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color:#fff;
  	background-color:#333;
}
 
    
.summaryholder{
     
    background-color:rgba(0,0,0,0.0);
     
}
    

  .summary{
    color: white;
    margin-top:  23%;
    margin-left: 2%;
    margin-right: 60%;
    text-align: left;
    font-size: 1.6rem;
}
   
    
 
 
.col-md-5{
    height: 100%;
    padding:0;
    margin:0;
    }
.col-md-7{
    margin:0; 
    padding:0;
    background-color: black;
    color:white;
}

.about{
        margin: 4%;
        background-color: black;
        font-size: 1.6rem;
         
    }
    
.aboutbody{
     
     margin:0;
     padding: 0;
     overflow-y: hidden;
     
 }

.resume{
    width:100%;
    height: 100%;
}


 

 

 

.carousel .item {
    width: 100%; /*slider width*/
    height: 100%; /*slider height*/
    background-color: black;
}
.carousel .item img {
    width: 100%; /*img width*/
    height: auto;
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    
}

 

.carousel-caption{
        color:silver;
    background-color:rgba(0,0,0,0.7);
    padding-top: 0;
}

.contactbody {
    height:100%;
	background: url("../img/current.JPG") no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color:#fff;
  	background-color:#333;
}


 

      .contactlist{
    list-style-type: none;
    text-align: center;
    margin-top: 10%;
}
     
 .contactlist li{
     display: inline;
     padding: 2rem;
      
 }
     


img{
     background-color: rgba(125,255,100, 0.3)
 }
 


/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

 
   .contactlist{
    list-style-type: none;
    padding:;
    text-align: center;
    margin-top: 10%;
}   
    
    .contactlist li{
     display: inline;
     padding: 1rem;
      
 }
    }



/*  iphone 5 base Mobile Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    
    html{
     height:100%;
     overflow-y: auto;
     background-color: black;
     }
    
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
    
   .img-responsive{
       margin-left:auto;
       margin-right:auto;
}

    .navbar-brand{
  	font-size: 2.6rem;
    font-weight: 800;
    margin-left: 1rem;
    }
    
    .summaryholder{
    width: 100%;
    background-color:rgba(0,0,0,0.4);
}
    

  .summary{
    color: white;
    margin-top:  30%;
    margin-bottom: 0;
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
    font-size: 1.5rem;
     

    
}
    
    .aboutbody{
      
     margin:0;
     padding: 0;
     overflow-y: auto;
    
    }
    
     .about{
        margin: 0% 2%;
        font-size: 2rem;
        background-color: black;
     }
    
    
    
    .carousel .item {
        
    
    width: 100%; /*slider width*/
    height: 40rem; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
    height: 100%;
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    
}

 

.carousel-caption{
    
    color:darkgray;
    background-color:rgba(0,0,0,0.7);
    padding-top: 0;
         
        
}

    .contactlist{
    list-style-type: none;
    padding:0;
    text-align: center;
    margin-top: 65%;
}
    
       .contactlist li{
     display: inline;
     padding: .5rem;
      
 }
      
  }

/* S5 Base Landscape */
@media screen 
  and (device-width: 640px) 
  and (device-height: 360px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
      
   html{
       overflow-y: auto;   
   }
      
.about{
    margin: 4%;
     
    }
    
 .aboutbody{
     
     margin: 0;
     padding: 0;
     overflow-y: scroll;
     background-color: black;
     
 }
      .block {
        margin-left: -20px;
        margin-right: -20px;
    }
    
   .img-responsive{
       margin-left:auto;
       margin-right:auto;
}
      
       .contactlist{
    list-style-type: none;
    padding:0;
    text-align: center;
    margin-top: 10%;
}
      
       .contactlist li{
     display: inline;
     padding: 1rem;
      
 }
}