html{
    height:80%;
    width:100%;
    overflow-y: scroll;
}

header {
    position:relative;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    max-width:90%;
    height:5rem;
    padding:0;
    color:pink;
    background-color: white;
    text-align: center;
    border-bottom: solid;
    border-width: 1px;
    border-bottom-color: darkolivegreen;
}
header h1 {
    font-family: 'Poiret One', cursive;
    font-weight: 400;
    font-size: 3rem;
    margin: 0; 
    float: left;
    color: gray;
    margin-left: 6.5rem;
}
nav {
    position:relative;
    height:8%;
    margin-top: -4rem;
    margin-right: 6rem;
    max-width:45%;
    padding:0;
    color:pink;
    background-color: white;
    float: right;
}

nav  li {
    position:relative;
    display:inline-block;
    list-style-type: none;
    font-family: "Open Sans", "Droid Sans", Helvetica, Arial, sans-serif;
    font-weight:lighter;
    color: gray;
    margin-right: 7rem;
}
nav li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    
}
nav > li > a:hover,
nav > li > a:focus {
    text-decoration: none;
    background-color: black
    
}

body {
    background-color: white;
    height:100%;
    width:100%;
    margin:0;\
    
    
}

img{
	margin-left:;
    margin-right: ; 
    border:1px solid #021a40;
}

.erica{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 2.5rem;
    
}

.summary{
    display: block;
    margin-left: 10rem;
    margin-right: 10rem; 
    margin-top: 2.5rem;
}

.about{
    display: block;
    margin-left: 10rem;
    margin-right: 10rem; 
    margin-top: 5rem;
}
 
.resume{
    height: 100%;
    width: 88.3%;
    margin-left: 5rem;
    
     
    
}

.resume-link{
    color: black;
    text-decoration:underline;
}
 
.contents{
    margin-left: 9rem;
}

a.darken {
    display: inline-block;
    background: black;
    padding: 0;
    position: relative;
}

a.darken img {
    display: block;
    
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

a.darken:hover img {
    opacity: 0.5;
            
}

a.darken span{
    font-family: 'Cabin', sans-serif;
    font-style: italic;
    font-size: 150% ;
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgba(255, 255, 255, 0);
     -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

a.darken:hover span{
    color: rgba(255, 255, 255, 1);
     -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

.bubble{
    margin-top: 4rem;
    position: relative;
    margin-left: 10rem;
    border: none;
}

.contacticons{
    border: none;
    padding: 2rem;
}

.contacts{
    position: relative;
    margin-top: -19rem;
    margin-left: 25rem;
}
    
 

    
    

    
     
   
    

    
    