/* CSS used here will be applied after bootstrap.css */


html{
    overflow: hidden;
}


/****************************************************************************
       Custom Styling of Navigation bar 
****************************************************************************/

 .navbar{ 
    background-color: Black;
    background-image: none;  
    margin-bottom: 0;
    border:none;
}

.navbar-default {
    font-family: 'Poiret One', cursive;  
    text-decoration: none;
    border-radius: none;
}

.navbar-default .navbar-brand  {
    color: snow; 
    text-align: center; 
}

.navbar-default .navbar-nav li a{
    color: snow;
    font-weight: 800;
}

.navbar-default .navbar-brand:hover{
    color: silver!important;
}

.navbar-default .navbar-nav li a:hover{
    color: silver!important;
}

.navbar-brand{
  	font-size: 5rem;
    font-weight: 800;
    margin-left: 1rem;
}

.navbar-nav{
    float: right;
    font-size: 2rem;
}

ul.nav li a,   {
    color: snow;
}

ul.nav li a:hover, ul.nav li a:active {
    color: silver;
}

ul.nav li.active a {
    color: silver;
}

.row ul li{
    display:inline;
}

.container-fluid{
    background-color:black;
}

ul.nav li.active a {
    color: silver !important;
    background-color: black !important;
}
 

/****************************************************************************
       Styling of title page or index 
****************************************************************************/

.summary{
    color: snow;
    margin:  10% 6% 6%;
    text-align: left;
    font-size: 1.8rem;
}

.col-md-3{
    height: 100%;
    padding:0;
    margin:0;
    background-color: black;
}

.col-md-9{
    margin:0;
    padding:0;
    background-color: black;
    color:snow;
}

  
/****************************************************************************
       Styling of about page. Creates a row of two colums responsive 
****************************************************************************/   
 
.col-md-5{
    height: 100%;
    padding:0;
    margin:0;
}

.col-md-7{
    margin:0;
    padding:0;
    background-color: black;
    color:snow;
}

.about{
    margin: 4%;
    background-color: black;
    font-size: 1.6rem;
}
    
.aboutbody{
     margin:0;
     padding: 0;
}


/****************************************************************************
Define style of sliding carousel used to display images on portfolio page
Carousel was recreated in recent update to demonstrate JQuery
****************************************************************************/   
  
 .portfoliobody{
    background-color: black
}

.carousel .item {
    width: 100%; /*slider width*/
    height: auto; /*slider height*/
}

.carousel .item img {
    width: 100%; /*img width*/
    height: auto;
}
 
.carousel .carousel-control {
    background: none;
    border: none;
}

.carousel-caption{
    color:snow;
    background-color:rgba(0,0,0,0.7);
    padding-top: 0;
}

 
/****************************************************************************
Styling of contact page. Including an off-canvase slide menu utilizing JQuery
****************************************************************************/   
 
#site-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#site-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 1s ease all;
    transition: 1s ease all;
}

#big-sexy {
    background-color: black;
    color: snow;
    position: absolute;
    margin-top: 25%;
    border:none;
    border-radius: 0;
}

#site-menu {
  width: 200px;
  height: 100%;
  position: absolute;
  margin-top: 0;
  margin-left: -200px;
  background-color: silver;
  padding: 15px;
}

#site-wrapper.show-nav #site-canvas {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
}

.contacts{
    list-style: none;
    text-align: center;
    padding:0;
}

.mail{
    max-width: 10rem;
    height: auto;
}


/****************************************************************************
       Responsive styling fixes for mobile/tablet devices  
****************************************************************************/   
 
/* all smaller than laptop */
@media (max-width:1023px)
{

html{
    height:100%;
    overflow-y: auto;
    background-color: black;
}
    
.navbar{ 
    background-image: none;  
    margin-bottom: 0;
    border:none;
}    
 
.block {
    margin-left: -20px;
    margin-right: -20px;
}
    
.img-responsive{
    margin-left:auto;
    margin-right:auto;
}

.navbar-brand{
    font-size: 2.6rem;
    font-weight: 800;
    margin-left: 1rem;
}
    
.summary{
    color: snow;
    margin:  2% 2%;
    text-align: left;
    font-size: 1.8rem;
}

.col-md-3{
    height: 100%;
    padding:0;
    margin:0;
}

.col-md-9{
    margin:0;
    padding:0;
    background-color: black;
    color:snow;
}
    
.aboutbody{
    margin:0;
    padding: 0;
    overflow-y: auto;
}
    
.about{
    margin: 0% 2%;
    font-size: 2rem;
    background-color: black;
}
    
.col-md-5{
    padding:0;
    margin:0;
    background-color: black;
}
    
.carousel .item {
    width: 100%; /*slider width */
    height: 28rem; /*slider height */
}

.carousel .item img {
    width: 100%; /*img width */
    height: 100%;
}
 
.carousel .carousel-control {
    background: none;
    border: none;
}

.carousel-caption{
    color:snow;
    background-color:rgba(0,0,0,0.7);
    padding-top: 0;
}

    .image-responsive{
        height:1000px;
        width:auto;
}
}


/****************************************************************************
    adjustments for smaller screens in portrait orientation 
****************************************************************************/

@media (max-width:627px) and (orientation: portrait){
    
.carousel .item {
    width: 100%; /*slider width */
    height: 40rem; /*slider height */
}    
    
.mail{
    max-width: 5rem;
    height: auto;
} 
}


/****************************************************************************
      adjustments for smaller screens in landscape  
****************************************************************************/

@media (max-width:640px) and (orientation: landscape){
    
.carousel .item {
    width: 100%; /*slider width */
    height: 22rem; /*slider height */
}    
    
.mail{
    max-width: 5rem;
    height: auto;
} 
} 


 



